# ** CREATE VIRTUAL ENVIORNMENT **
# here created venv_mlflow VIRTUAL ENVIORNMENT and 1st installed from Complete-Python-Bootcamp/requirements.txt
# then installed below packages
mlflow==2.17.0
dagshub==0.3.39